.ProvideCardList {
  position: relative;
}
.ProvideCardListWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 179px;
}
.ProvideCardListWrapperImage {
  position: absolute;
  max-width: 1360px;
  top: 0;
  right: 0;
  z-index: -1;
}
.ProvideCardListWrapperContainer {
  position: relative;
  width: 31.25rem;
  height: 21.875rem;
  padding: 51px 63px;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.ProvideCardListWrapperContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.ProvideCardListWrapperContainer:hover {
  opacity: 1;
}
.ProvideCardListWrapperContainerInfo {
  position: relative;
  text-align: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}
.ProvideCardListTitle {
  font-size: 2rem;
  font-weight: 500;
}
.ProvideCardListText {
  font-weight: 500;
  line-height: 22.4px;
}

@media screen and (max-width: 1280px) {
  .ProvideCardListWrapper {
    padding: 50px 57px;
  }
  .ProvideCardListWrapperImage {
    top: 0;
    right: -122px;
  }
}
@media screen and (max-width: 1110px) {
  .ProvideCardListWrapper {
    padding: 50px 10px;
  }
  .ProvideCardListWrapperImage {
    top: 0;
    right: -166px;
  }
}
@media screen and (max-width: 1024px) {
  .ProvideCardListWrapperImage {
    width: 58.6875rem;
    right: 0;
  }
  .ProvideCardListWrapperContainer {
    width: 28.75rem;
  }
}
@media screen and (max-width: 998px) {
  .ProvideCardListWrapper {
    padding: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .ProvideCardListWrapperImage {
    display: none;
  }
  .ProvideCardListWrapperContainer {
    width: 100%;
    border: 2px solid var(--border);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    opacity: 1;
  }
  .ProvideCardListWrapperContainer:hover {
    pointer-events: none;
  }
}
@media screen and (max-width: 610px) {
  .ProvideCardListWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}