.PortfolioTop {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  &Title {
    width: 49%;
    text-transform: uppercase;
    font-size: clamp(3rem, 2.1765rem + 3.1373vw, 5rem);
    font-family: var(--instrument-sans);
    font-weight: 500;
    line-height: 88px;
  }
  &Descr {
    width: 49%;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.7941rem + 0.7843vw, 1.5rem);
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 33.6px;
    margin-bottom: auto;
  }
}
@media screen and (max-width: 1024px) {
  .PortfolioTop {
    gap: 0;
  }
}
@media screen and (max-width: 768px) {
  .PortfolioTop {
    flex-direction: column;
    &Title,
    &Descr {
      width: 100%;
    }
  }
}
