.PortfolioBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  &Text {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  &Btn {
    background-color: transparent;
    border: none;
  }
  &Image {
    rotate: 135deg;
  }
}
